@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

*
{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
}

:root
{
    --primary: #131086;
    --scondary: #B621F3;
    --textcolor: #F72585;
}

code
{
    color: var(--textcolor);
}







